/*
┌─┐┌─┐┬  ┌─┐┬─┐┌─┐
│  │ ││  │ │├┬┘└─┐
└─┘└─┘┴─┘└─┘┴└─└─┘
*/

:root {
  --sfwindow: #C0CAF5;
  --sfsecondary: #222436;
  --inactivetab: #1b1d2b;
}

/* Tabs colors  */
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected='true'],
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected='true'] {
  background-image: none !important;
  background-color: var(--sfsecondary) !important;
}

/* Inactive tabs color */
#navigator-toolbox {
    background-color: var(--inactivetab) !important;
}

/* Sidebar color  */
#sidebar-box,
.sidebar-placesTree {
  background-color: var(--sfwindow) !important;
}

/* bookmark-item width */
#personal-bookmarks .bookmark-item {max-width: 150px !important}
