/*
┌─┐┌─┐┬  ┌─┐┬─┐┌─┐
│  │ ││  │ │├┬┘└─┐
└─┘└─┘┴─┘└─┘┴└─└─┘
*/

:root {
  --active: #222436;
  --inactive: #1b1d2b;
}

/* Window colors  */
:root {
  --toolbar-bgcolor: var(--active) !important;
  --tabs-border-color: var(--active) !important;
  --lwt-sidebar-background-color: var(--active) !important;
  --lwt-toolbar-field-focus: var(--active) !important;
}

/* Tabs colors  */
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected='true'],
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected='true'] {
  background-image: none !important;
  background-color: var(--active) !important;
}

/* Inactive tabs color */
#navigator-toolbox {
    background-color: var(--inactive) !important;
}

/* Sidebar color  */
#sidebar-box,
.sidebar-placesTree {
  background-color: var(--active) !important;
}

/* bookmark-item width */
#personal-bookmarks .bookmark-item {max-width: 150px !important}
